.member-tag {
  height: 24px;
  line-height: 24px;
  width: 120px;
  text-align: left;
  margin-left: 8px;
  background-color: rgb(220, 237, 245);
  border-radius: 6px;
  position: relative;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 25%;
    width: 2px;
    background-color: blue;
    height: 50%;
  }
  .span {
    padding-left: 6px;
  }
  span {
    display: block;
    font-size: 13px;
  }
  .del {
    position: absolute;
    right: 5px;
    top: 0;
    cursor: pointer;
    &:hover {
      color: blue;
    }
  }
}
.org-tag {
  background-color: rgb(236, 242, 191);
}
