.member-tag {
  height: 24px;
  line-height: 24px;
  text-align: left;
  margin-left: 8px;
  background-color: rgb(220, 237, 245);
  border-radius: 6px;
  position: relative;
  margin-bottom: 6px;
  display: flex;
  padding: 0 6px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 25%;
    width: 2px;
    background-color: blue;
    height: 50%;
  }
  .tag-text {
    display: flex;
    align-items: center;
    .icon {
      text-align: right;
      margin-right: 12px;
    }
    .span {
      text-align: left;
      display: block;
      font-size: 13px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 100px;
      padding: 0 6px;
    }
  }
  .del {
    cursor: pointer;
    &:hover {
      color: blue;
    }
  }
}
.org-tag {
  background-color: rgb(236, 242, 191);
  &::before {
    background-color: rgb(247, 216, 38);
  }
}
