.member-selector-box {
  .member-selector-box-tags {
    min-height: 60px;
    border-radius: 4px;
    border-bottom: 1px solid #eee;
  }
  .member-selector-box-search {
  }
  .member-selector-box-container {
    display: flex;
    .org-tree {
      width: 200px;
      border-right: 1px solid #eee;
    }
    .org-members {
      width: 200px;
      border-right: 1px solid #eee;
    }
    .select-member {
      flex: 1;
    }
  }
}
